<div class="photo-post-content">
	{{! Note: To actually handle photosets (which can have layouts) will require more complex work.  For now, just spamming photos here.}}
	{{#each photos}}
	<figure>
		<img src="{{ blogroll_size.url }}" alt="{{ caption }}" width="{{ blogroll_size.width }}" height="{{ blogroll_size.height }}">

		{{#if caption}}
		<figcaption>
			{{{ caption }}}
		</figcaption>
		{{/if}}
	</figure>
	{{/each}}

	{{#if caption}}
	<div class="photo-post-caption">{{{ caption }}}</div>
	{{/if}}
</div>